{% extends "base.html.twig.html" %}

{% block title %}Mon compte - La boutique Française   {% endblock title %}

{% block content %}
<h1>Bonjour {{ app.user.firstname}}, Bienvenue dans votre compte ou vous allez pouvoir gérer toutes vos information personnelles.</h1>
{% endblock %}
